### Flask ###
!instance/.gitignore
.env

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/

# Unit test / coverage reports
.pytest_cache/
**/.pytest_cache/
cover/

# pyenv
.python-version

# Environments
venv/